<div class="card">
  <img src='{{image}}' class="card-img-top" alt={{title}} />
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <a href="/post/{{id}}" class="btn btn-card btn-success">Подробнее</a>
    <button data-danger={{id}} type="button" class="btn btn-danger btn-card ">Удалить мем</button>
  </div>
</div>
